h1
{
  text-align: center;
}
.flex
{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.card
{
  margin-bottom: 40px;
}
.imgs
{
  height: 400px;
}
#more
{
  text-decoration: underline;
  color: grey;
}
