h1{
    /*font-family: 'Julee', cursive;*/
    text-align: center;
    color:darkgrey;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}
.flex
{
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
     padding: 20px;
     font-family: 'Dosis', sans-serif;
     font-size: 1.5rem;
     
}
.span
{
    text-align: center;
    font-family: 'Dosis', sans-serif;
     font-size: 1.5rem;
}
.flex2
{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
   
}
.card
{
    margin-bottom: 20px;
}